* {
    margin: 0;
    padding: 0;
    font-family: sixtyfour;
}

body {
    background: rgb(0, 200, 255);
    color: rgb(255, 8, 8);
    text-align: center;
    text-transform: capitalize;  
}

h1 {
    color:hotpink;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: xxx-large;
    letter-spacing: 10px;
}

h2 {
    color: purple
}

p {
    color:firebrick;
    padding: 20px;
}

a {
    color:rgb(0, 47, 255);
    border: 3px solid green;
    border-style:dashed;
    border-radius: 20px;
}

a:hover {
    color: hotpink;
}

table {
    margin: auto;
}

.small-img {
    display: block;
    margin: 30px auto;
    color: hotpink;
}

.big-img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    box-sizing: cover;
    display: block;
    margin: 20px auto;
    object-fit: cover;
    border: 3px solid hotpink;
}

.heading {
    color: gold;
    font-size: 2em;
}

.border {
    border-bottom: 3px solid gold;
    padding-bottom: 10px;
}

#lead {
    color: rgb(132, 0, 255);
}