footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    transition: 0.3s;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/footer.svg);
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
    transition: 0.3;
}

footer a:hover {
    border-color: transparent;
}

@media (max-width: 768px){
    footer {
        font-size: 0.8em;
    }

    footer p {
        flex-direction: column;
    }
}